@font-face {
  font-family: calibreBlack;
  src: url('../assets/font/Calibre/CalibreWeb-Black.eot'); /* IE9 Compat Modes */
  src: url('../assets/font/Calibre/CalibreWeb-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/font/Calibre/CalibreWeb-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/font/Calibre/CalibreWeb-Black.woff') format('woff'), /* Modern Browsers */
       url('../assets/font/Calibre/CalibreWeb-Black.woff2') format('woff2'); /* Legacy iOS */
  font-weight: bold;
};

@font-face {
  font-family: calibreBlackItalic;
  src: url('../assets/font/Calibre/CalibreWeb-BlackItalic.eot');
  src: url('../assets/font/Calibre/CalibreWeb-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-BlackItalic.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-BlackItalic.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-BlackItalic.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreBold;
  src: url('../assets/font/Calibre/CalibreWeb-Bold.eot');
  src: url('../assets/font/Calibre/CalibreWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-Bold.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-Bold.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-Bold.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreBoldItalic;
  src: url('../assets/font/Calibre/CalibreWeb-BoldItalic.eot');
  src: url('../assets/font/Calibre/CalibreWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-BoldItalic.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-BoldItalic.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-BoldItalic.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreLight;
  src: url('../assets/font/Calibre/CalibreWeb-Light.eot');
  src: url('../assets/font/Calibre/CalibreWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-Light.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-Light.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-Light.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreLightItalic;
  src: url('../assets/font/Calibre/CalibreWeb-LightItalic.eot');
  src: url('../assets/font/Calibre/CalibreWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-LightItalic.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-LightItalic.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-LightItalic.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreMedium;
  src: url('../assets/font/Calibre/CalibreWeb-Medium.eot');
  src: url('../assets/font/Calibre/CalibreWeb-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-Medium.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-Medium.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-Medium.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreMediumItalic;
  src: url('../assets/font/Calibre/CalibreWeb-MediumItalic.eot');
  src: url('../assets/font/Calibre/CalibreWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-MediumItalic.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-MediumItalic.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-MediumItalic.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreRegular;
  src: url('../assets/font/Calibre/CalibreWeb-Regular.eot');
  src: url('../assets/font/Calibre/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-Regular.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-Regular.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-Regular.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreRegularItalic;
  src: url('../assets/font/Calibre/CalibreWeb-RegularItalic.eot');
  src: url('../assets/font/Calibre/CalibreWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-RegularItalic.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-RegularItalic.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-RegularItalic.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreSemibold;
  src: url('../assets/font/Calibre/CalibreWeb-Semibold.eot');
  src: url('../assets/font/Calibre/CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-Semibold.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-Semibold.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-Semibold.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreSemiboldItalic;
  src: url('../assets/font/Calibre/CalibreWeb-SemiboldItalic.eot');
  src: url('../assets/font/Calibre/CalibreWeb-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-SemiboldItalic.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-SemiboldItalic.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-SemiboldItalic.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreThin;
  src: url('../assets/font/Calibre/CalibreWeb-Thin.eot');
  src: url('../assets/font/Calibre/CalibreWeb-Thin.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-Thin.ttf')  format('truetype'),
       url('../assets/font/CalibreWeb-Thin.woff') format('woff'),
       url('../assets/font/CalibreWeb-Thin.woff2') format('woff2');
  font-weight: bold;
};

@font-face {
  font-family: calibreThinItalic;
  src: url('../assets/font/Calibre/CalibreWeb-ThinItalic.eot');
  src: url('../assets/font/Calibre/CalibreWeb-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Calibre/CalibreWeb-ThinItalic.ttf')  format('truetype'),
       url('../assets/font/Calibre/CalibreWeb-ThinItalic.woff') format('woff'),
       url('../assets/font/Calibre/CalibreWeb-ThinItalic.woff2') format('woff2');
  font-weight: bold;
};

$body-bg-color: #ffffff;
$header-bg-color: #261107;
$section-bg-color: #fbfbfc;

$primary-font-color: #333f4d;

$primary-btn-color: #537de6;
$secondary-btn-color: #fe7200;

$primary-border-color: #39bd81;

$break-point-xl: 1119px;
$break-point-lg: 991px;
$break-point-md: 767px;
$break-point-sm: 574px;

@mixin flex($direction, $align, $content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $content;
  flex-wrap: wrap;
}

@mixin font($font-family, $font-size, $line-height, $font-color) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: calibreBold;
  background-color: $body-bg-color;
}

h1 {
  @include font(calibreSemibold, 66px, 65px, $section-bg-color);
}

h2 {
  @include font(calibreMedium, 36px, 37px, $primary-font-color);
}

h3 {
  @include font(calibreSemibold, 28px, 34px, $primary-font-color);
}

h4 {
  @include font(calibreMedium, 20px, 24px, $primary-btn-color);
}

p {
  @include font(calibreRegular, 18px, 28px, $primary-font-color);
}

span, a, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

header {
  width: 100%;
  height: 870px;
  background:url("../assets/image/hero-image-01.png") no-repeat center bottom;
  background-size: cover;
  .nav-container {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    @include flex(row, center, center);
    .container-fluid {
      max-width: 1119px;
    }
    .navbar-nav .nav-link {
      @include font(calibreMedium, 18px, 14px, $section-bg-color);
    }
    .navbar-toggler {
      color: $section-bg-color;
      border-color: $section-bg-color;
    }
    .btn-book {
      width: 134px;
      background-color: $secondary-btn-color;
      box-shadow: 0px 15px 50px -15px $secondary-btn-color;
    }
    .btn-signin {
      width: 90px;
      background-color: rgba($body-bg-color, 0.1);
      box-shadow: 0px 15px 50px -15px rgba($body-bg-color, 0.1);
    }
  }
  .intro-container {
    width: 100%;
    height: 100%;
    @include flex(row, center, flex-start);
    .intro {
      @include flex(column, flex-start, center);
      max-width: 700px;
      .description {
        @include font(calibreMedium, 25px, 30px, $section-bg-color);
      }
      .btn-book {
        width: 176px;
        background-color: $secondary-btn-color;
        box-shadow: 0px 15px 50px -15px $secondary-btn-color;
      }
    }
  }
  @media screen and (max-width: $break-point-lg) {
    .nav-container {
      .navbar-nav .nav-link {
        text-align: center;
      }
    }
    #navbarContent {
      position: fixed;
      background: rgb(210, 47, 116);
      color: white;
      top: 0px;
      padding: 30px 20px;
      transition: left 0.3s linear 0s;
      left: -100%;
      height: 100vh;
      width: 100vw;
      z-index: 1;
      &.show {
        left: 0;
      }
    }
  }
  @media screen and (max-width: $break-point-md) {
    height: 700px;
    .nav-container {
      .btn-book {
        width: 110px;
        height: 40px;
      }
      .btn-signin {
        width: 70px;
        height: 40px;
      }
    }
    .intro-container {
      .intro {
        h1 {
          @include font(calibreSemibold, 45px, 50px, $section-bg-color);
        }
        .description {
          @include font(calibreMedium, 20px, 25px, $section-bg-color);
        }
      }
    }
  }
}

section {
  background: $section-bg-color;
  @include flex(column, center, center);
  margin-top: 30px;
  p {
    opacity: 0.7;
  }
  &.why-use-purview {
    margin-top: -60px;
    .btn-book {
      width: 176px;
    }
  }
  &.enable-your-frontline,
  &.get-daily-visibility {
    img {
      width: 100%;
    }
    .border-card-container {
      @include flex(column, flex-start, flex-start);
    }
  }
  &.a-management-layer {
    img {
      width: 100%;
    }
  }
}

.img-card {
  color: #333f4d;
  @include flex(column, center, flex-start);
  img {
    width: 134px;
    height: 134px;
  }
  .description {
    opacity: 0.7;
  }
}

.left-border-card {
  background-color: $body-bg-color;
  border-radius: 8px;
  border-left: solid 7px $primary-border-color;
}

.top-border-card {
  background-color: $body-bg-color;
  border-radius: 8px;
  border-top: solid 7px $primary-border-color;
}

.general-card {
  position: relative;
  background-color: $body-bg-color;
  padding: 30px 30px 30px 50px;
  height: 100%;
  &::before {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 15px;
    height: 11px;
    content: "";
    background-image: url('../assets/image/check-mark.png');
  }
  h4 {
    color: $primary-font-color;
  }
}

.btn-book, .btn-signin {
  background-color: $primary-btn-color;
  @include font(calibreMedium, 18px, 14px, $body-bg-color);
  border-radius: 4px;
  height: 50px;
  width: 200px;
  border: initial;
  box-shadow: 0px 15px 50px -15px $primary-btn-color;
}

footer {
  @include flex(column, center, center);
  ul {
    @include flex(row, center, center);
    li {
      display: inline;
      list-style-type: none;
      a {
        @include font(calibreMedium, 18px, 14px, $primary-font-color);
        text-decoration: none;
        opacity: 0.5;
        &:visited {
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .copyright {
    @include font(calibreRegular, 14px, 17px, $primary-font-color);
    opacity: 0.5;
  }
}
